streamlit
boto3
python-dotenv
google-auth
google-cloud-aiplatform
google-cloud-storage
PyPDF2
vertexai
spacy==3.8.3
uvicorn
fastapi
rapidfuzz
chromadb
google-genai
google-generativeai
aioboto3
tenacity
pytest
pytest-asyncio