# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Environment
.env
.venv
env/
venv/
ENV/

# Distribution / packaging
dist/
build/
*.egg-info/

# Local development settings
.idea/
.vscode/

# Logs
*.log

# System files
.DS_Store
Thumbs.db

# Test files
test/
tests/

# Git
.git/
.gitignore
