name: Pre-commit

on:
  pull_request:
    branches: [main, refactor]

jobs:
  pre-commit:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Install pre-commit
      run: |
        pip install pre-commit

    - name: Run pre-commit hooks
      run: |
        cd fastapi_app
        pre-commit run --all-files || true
